.cart-icon {
    width: 45px;
    height: 45px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  
    .shopping-icon {
      width: 30px;
      height: 30px;
    }
  
    .item-count {
      position: absolute;
      background-color: red;
      border-radius: 50%;
      padding: 0px 6px;
      top: 3px;
      right: 1px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      color: white;
      font-weight: bold;
    }
  }